### HadesArtemisAdapter Options ###
API_PORT=8082 # Port for the Artemis Adapter to listen on (default: 8082)
ARTEMIS_BASE_URL=http://localhost:8080
ARTEMIS_NEW_RESULT_ENDPOINT=api/programming/public/programming-exercises/new-result # this is the base. it is used with /{participationId}
ARTEMIS_AUTH_TOKEN=superduperlongtestingsecrettoken

### Deployment Options (for production) ###
IMAGE_TAG=latest
HADES_API_HOST=example.com
HADES_ADAPTER_HOST=adapter.example.com
LETSENCRYPT_EMAIL=admin@example.com
